.header {
    width: 95%;
    height: 2.6rem;
    display: flex;    
    max-width: 144rem;
    margin: 2.5rem auto 0 auto;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-medium-gray;

    &__logo {
        margin-right: 5rem;
    }

    &__group-menus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__menu {
        display: flex;
        gap: 4rem;
    }

    &__menu-item {
        position: relative;
    }

    &__dropdown {
        position: relative;

        &::after {
            content: '';
            width: 2rem;
            height: .8rem;
            display: inline-block;
            background: url(../images/icon-arrow-down.svg) no-repeat center;
        }

        &:hover {
            color: $color-almost-black;            
        }
    }

    .dropdown-active {
        &::after {
            background: url(../images/icon-arrow-up.svg) no-repeat center;
        }
    }

    &__submenu {
        width: 15rem;
        opacity: 0;
        position: absolute;
        top: 3rem;
        right: 0;
        z-index: -1;
        padding: 2.5rem;
        background-color: $color-almost-white;
        border-radius: 10px;
        box-shadow: 1px 1px 30px rgba($color-almost-black, .2);

        li ~ li {
            margin-top: 2rem;
        }

        li:hover {
            color: $color-almost-black;
        }

        &--right {
            left: 0;
            right: auto;
        }
    }

    &__link {

        &:hover {
            color: $color-almost-black;            
        }
    }

    &__menu-right {
        display: flex;
        gap: 4rem;
        align-items: center;
    }

    &__menu-mobile,
    &__icon-menu,
    &__icon-close-menu {
        display: none;
    }

    @media screen and (max-width: $break-mobile) {
        width: 90%;
        justify-content: space-between;
        overflow-x: hidden;


        &__menu-mobile {
            display: block;
            z-index: 2;
        }

        &__group-menus {
            position: fixed;
            top: 0;
            left: 100%;
            width: 64%;
            height: 100vh;
            background-color: $color-almost-white;
            z-index: 1;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4rem;
            padding: 10rem 2rem;
            font-size: 1.6rem;
            transition: .6s;
        }

        &__menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &__submenu {
            width: 100%;
            height: 0;
            position: relative;
            top: 2rem;
            left: 2rem;
            padding: 0;
            background-color: none;
            box-shadow: none;
            border-radius: inherit;
            transition: .4s;            
            overflow-y: hidden;
            
            &.active {
                height: 130px;
                margin-bottom: 2rem;
            }
        }

        &__menu-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            font-size: 1.4rem;

            .btn-link {
                width: 80%;
                display: block;
                text-align: center;
            }
        }
    }
}

.active-menu {
    left: 36%;
}